<div class="container">
  <div class="row">
    <div class="col">
      <h1>Recipes Index</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <%= form_with(url: recipes_path, method: :get, local: true) do |form| %>
        <%= form.label :search %>
        <%= form.text_field :search %>
        <%= form.submit 'submit' %>
      <% end %>
    </div>
  </div>
  <% if !@search_term.nil? %>
    <div class="row m-5">
      <div class="col">
        <table>
          <tr>
            <td>search term:</td>
            <td><%= @search_term %></td>
          </tr>
          <% @ingredients.each do |ingredient| %>
          <tr>
            <td><%= ingredient.text %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
