<div class="row">
  <div class="col">
    <h1>Group name: <%= @group.name %></h1>
    <h3>About this group:</h3>
    <p><%= @group.about %></p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <table>
      <tr>
      </tr>
      <% @group.users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>

  </div>
  <div class="col-6 d-flex flex-column">
    <p>Add a recipe</p>
    <%= form_with(url: group_path(@group.id), method: :get, local: true) do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit 'search' %>
    <% end %>
    <% if !@search_results.nil? %>
    <div>
    <p>Search results, click to add to menu</p>
      <table>
        <% @search_results.each do |search_result| %>
        <tr>
          <td>
            <button type="button" class="btn btn-secondary">+</button>
            <%= link_to "#{search_result.label}", "/recipes?utf8=&search=#{search_result.label}&commit=submit" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>
</div>
