<div class="container">
  <div class="row flex-column align-items-center">
    <div class="col-6">
      <h1><%= @user.name %>'s dashboard</h1>
    </div>
    <div class="col-6">
      <h2><%= @user.name %>'s groups</h2>
    </div>

  </div>
  <div class="row">
  <table class="table table-sm">
  <% @user.groups.each do |group| %>
    <tr>
      <td>
        <%= group.name %>
      </td>
    </tr>
    <% end %>
  </table>


<div class="row">
  <div class="col">
    <h2><%= @user.name %>'s groups</h2>
          <% @user.groups.each do |group| %>
              <ul> <%= link_to group.name, group_path(group) %> </ul>
          <% end %>  

<p><%= button_to "Create New Group", new_group_path, method: :get %></p>
  </div>
</div>
